
{% extends "::base.html.twig" %}
{% block title %}Categories {% endblock %}
{#{% block navbar%}{% endblock %}#}
{%  block body %}
    <h1>Gestion des {{ block('title') }}</h1>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h2>Gestion des catégories</h2>
            <div class="well">
                <form method="post" {{ form_enctype(formCreateCat) }}>
                    {{ form_widget(formCreateCat) }}
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h2>Litse des Catégories</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h2>Gestion des services</h2>
            <div class="well">
                <form method="post" {{ form_enctype(formCreateServ) }}
                {{ form_widget(formCreateServ) }}
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Litse des Services</h2>
            </div>
        </div>
    </div>

{%  endblock %}
