
{% extends "::base.html.twig" %}
{% block title %}Invoices {% endblock %}
{#{% block navbar|navbar %}#}
{% block body %}
    <h1>Gestion des {{ block('title') }}</h1>
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <br>
        {{ Erreur|default('-') }}
    </div>

{% endblock %}
