
{% extends "::base.html.twig" %}
{% block title %}Invoices {% endblock %}
{#{% block navbar|navbar %}#}
{% block body %}

    <h1>Gestion des {{ block('title') }}</h1>

    <div class="row">
        {{ dump() }}
        <div class="col-lg-4 col-md-4">
            <h2>Liste des Facture</h2>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Référence</th>
                    <th>Prix TTC</th>
                    <th>Statut/brouillon</th>
                    <th>ID client</th>
                </tr>
                </thead>
                <tbody>
                {% for content in contentInvoice %}
                    <tr>
                        <td>
                            {{ content.ref }}
                        </td>
                        <td>
                            {{ content.total_ttc }}
                        </td>
                        <td>
                            {{ content.statut }}
                        </td>
                        <td>
                            {{ content.socid }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <h2>Liste des clients/Tiers</h2>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Ville</th>
                    <th>Identifiant client</th>
                </tr>
                </thead>
                <tbody>
                {% for content in contentClient %}
                    <tr>
                        <td>
                            {{ content.name }}
                        </td>
                        <td>
                            {{ content.email }}
                        </td>
                        <td>
                            {{ content.town }}
                        </td>
                        <td>
                            {{ content.id }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <h2>Création Facture</h2>
            <form method="post">
                {#{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}

                {#<div class="form-group">#}
                    {#{{ form_label(form.facture_name, 'Référence :',#}
                    {#{'attr':{'class':'form-label'}})}}#}

                    {#{{ form_widget(form.facture_name,#}
                    {#{'attr':{'class':'form-control', 'placeholder':'Taper un ID valid'}}) }}#}

                {#</div>#}

                {#<div class="form-group">#}
                    {#{{ form_label(form.id_client, 'ID client :',#}
                    {#{'attr':{'class':'form-label'}})}}#}

                    {#{{ form_widget(form.id_client,#}
                    {#{'attr':{'class':'form-control', 'placeholder':'Taper un ID valid'}}) }}#}

                {#</div>#}

                {#<div class="form-group">#}
                    {#{{ form_label(form.total_ttc, 'Prix TTC :',#}
                    {#{'attr':{'class':'form-label'}})}}#}

                    {#{{ form_widget(form.total_ttc,#}
                    {#{'attr':{'class':'form-control', 'placeholder':'Taper un ID valid'}}) }}#}

                </div>

                <label class="radio-inline">
                    <input type="radio" name="{{  }}" value="{{  }}">Produit :
                </label>
                <label class="radio-inline">
                    <input type="radio" name="{{  }}" value="{{  }}">Service :
                </label>
                <button type="submit" class="btn btn-default">Creer facture</button>
            </form>
        </div>
    </div>

{% endblock %}
