
{% extends "::base.html.twig" %}
{% block title %}services {% endblock %}
{#{% block navbar%}{% endblock %}#}
{%  block body %}

    <h1>Gestion des {{ block('title') }}</h1>

    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h2>Categories</h2>
            <div class="well">
                <form method="post">
                    {{ form_start(formCreateCat, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ dump() }}
                    {% set class='' %}
                    {% if not formCreateCat.Label.vars.valid %}
                        {% set class = 'has-error' %}
                    {% endif %}

                    <div class="form-group {{ class }}">
                        {#<label class="control-label" for="{{ formCreateCat.Label.vars.id }}">Label :</label>#}
                        {#<input type="text" class="form-control" id="{{ formCreateCat.Label.vars.id }}"#}
                        {#name="{{ formCreateCat.Label.vars.full_name }}" value="{{ formCreateCat.Label.vars.value }}">#}

                        {{ form_label(formCreateCat.Label,'Nom :',
                        {'label_attr':{'class':'control-label'}}) }}

                        {{ form_widget(formCreateCat.Label,
                        {'attr':{'class':'form-control'}}) }}

                        {% do formCreateCat.Label.setRendered %}
                        {% if not formCreateCat.Label.vars.valid %}
                            {% for error in formCreateCat.Label.vars.errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_label(formCreateCat.Type, 'Type :',
                        {'attr':{'class':'form-label'}})}}

                        {{ form_widget(formCreateCat.Type,
                        {'attr':{'class':'form-control'}}) }}

                    </div>
                    <div class="form-group">
                        {{ form_label(formCreateCat.Color, 'Couleur :',
                        {'attr':{'class':'form-label'}})}}

                        {{ form_widget(formCreateCat.Color,
                        {'attr':{'class':'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-success">Creer categorie</button>

                </form>
                {{ form_end(formCreateCat) }}
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h2>Liste des catégories</h2>
        </div>
    </div>

    <hr>


    <div class="row">
        <div class="col-lg-4 col-md-4">
            <h2>Services</h2>
            <div class="well">
                <form method="post">
                    {{ form_start(formCreateServ, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_label(formCreateServ.Reference,'Reference :',
                        {'label_attr':{'class':'control-label'}}) }}

                        {{ form_widget(formCreateServ.Reference,
                        {'attr':{'class':'form-control'}}) }}

                    </div>

                    <div class="form-group">
                        {{ form_label(formCreateServ.Label,'Label :',
                        {'label_attr':{'class':'control-label'}}) }}

                        {{ form_widget(formCreateServ.Label,
                        {'attr':{'class':'form-control'}}) }}

                    </div>

                    {#<div class="form-group">#}
                        {#{{ form_label(formCreateServ.Type, 'Type :') }}#}

                        {#{{ form_widget(formCreateServ.Type) }}#}

                    {#</div>#}

                    <label class="radio-inline">
                        <input type="radio" name="{{ formCreateServ.Type.vars.full_name }}" value="{{ formCreateServ.Type.children.0.vars.value }}">Produit :
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="{{ formCreateServ.Type.vars.full_name }}" value="{{ formCreateServ.Type.children.1.vars.value }}">Service :
                    </label>

                    <div class="form-group">
                        {{ form_label(formCreateServ.Description,'Description :',
                        {'label_attr':{'class':'control-label'}}) }}

                        {{ form_widget(formCreateServ.Description,
                        {'attr':{'class':'form-control'}}) }}

                    </div>

                    <div class="form-group">
                        {{ form_label(formCreateServ.Prix_TTC,'Prix vente TTC :',
                        {'label_attr':{'class':'control-label'}}) }}

                        {{ form_widget(formCreateServ.Prix_TTC,
                        {'attr':{'class':'form-control'}}) }}

                    </div>

                    <label class="checkbox-inline">
                        <input type="checkbox" value="{{ formCreateServ.Vente.vars.value }}" name="{{ formCreateServ.Vente.vars.full_name }}">Vente :
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" value="{{ formCreateServ.Achat.vars.value }}" name="{{ formCreateServ.Achat.vars.full_name }}">Achat :
                    </label>
                        {#{{ checkbox_label(formCreateServ.Vente,'Vente :') }}#}

                <button type="submit" class="btn btn-success">Creer service</button>
            </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h2>Liste des services</h2>
        </div>
    </div>

{%  endblock %}
