<!DOCTYPE html>
<html>
<head>
    <title>Gestion des utilisateurs Dolibarr</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{ asset('assets/css/test.css') }}" type="text/css" />
        <link rel="stylesheet"
              href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet"
              href="{{ asset('assets/css/font-awesome.css') }}">

    {% endblock %}
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-lg-4">
            <h1>Gestion des Catégories</h1>
            <div class="well">
                <form method="post" {{ form_enctype(formCreateCat) }}>
                    {{ form_widget(formCreateCat) }}
                </form>
            </div>
        </div>
        <div class="col-offset-4 col-lg-4">
            <h1>Litse des Catégories</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <h1>Gestion des Services</h1>
            <div class="well">
                <form method="post" {{ form_enctype(formCreateServ) }}
                {{ form_widget(formCreateServ) }}
            </div>
        </div>
        <div class="col-offset-4 col-lg-4">
            <h1>Litse des Services</h1>
        </div>
    </div>

</div>
</body>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
</html>
