<!DOCTYPE html>
<html>
<head>
    <title>Gestion des utilisateurs Dolibarr</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{ asset('assets/css/test.css') }}" type="text/css" />
        <link rel="stylesheet"
              href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet"
              href="{{ asset('assets/css/font-awesome.css') }}">

    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Gestion des Invoices</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
</body>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
</html>
