<!DOCTYPE html>
<html>
    <head>
        <title>Gestion des utilisateurs Dolibarr</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/test.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <h1>Gestion des utilisateurs Dolibarr</h1>
        <h2>Utilisateur</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Email</th>
            </tr>

            <tr>
                <td>{{ response.id }}</td>
                <td>{{ response.login}}</td>
                <td>{{ response.email }}</td>
            </tr>
        </table>
        <br>


        {#<p>{{ dump()   }}</p>#}

    </body>
</html>
