{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Github_id</th>
                <th>Dlogin</th>
                <th>Dfirstname</th>
                <th>Dlastname</th>
                <th>Demail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('crud_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.github_id }}</td>
                <td>{{ user.dLogin }}</td>
                <td>{{ user.dFirstname }}</td>
                <td>{{ user.dLastname }}</td>
                <td>{{ user.dEmail }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('crud_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('crud_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crud_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
