{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Github_id</th>
                <td>{{ user.github_id }}</td>
            </tr>
            <tr>
                <th>Dlogin</th>
                <td>{{ user.dLogin }}</td>
            </tr>
            <tr>
                <th>Dfirstname</th>
                <td>{{ user.dFirstname }}</td>
            </tr>
            <tr>
                <th>Dlastname</th>
                <td>{{ user.dLastname }}</td>
            </tr>
            <tr>
                <th>Demail</th>
                <td>{{ user.dEmail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crud_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('crud_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
